body {
 
  background-color: #979151;
  
}

h2{ 
      text-align: center;
    color: white;
}
.container-l{
   
    color: white;
    background-color: rgb(87, 124, 156);
    border: 2px     solid  black;
}
.container-c{
    
    color: white;
    background-color: rgb(131, 78, 80);
    border: 2px solid  black;
}
.container-r{
    
    color: rgb(134, 89, 78);
    background-color: rgb(155, 144, 130);
    border: 2px solid  black;
}

.clearfix {
  overflow: auto;
 
}

.delete-btn{
    text-align: center;
    color:white;
     background-color: rgb(134, 94, 94);
}

.devour-btn{
    text-align: center;
    color: white;
     background-color: rgb(77, 83, 119);
}

.burger_queue{
    float: center;
    background-color: rgb(83, 77, 69);
}

    .update-burger-btn{
        background-color:rgb(60, 100, 78) ;
        color: white;
}
#burger-name{
    color: white;
    background-color: rgb(60, 100, 78) ;
}